@import url(/Sass/cssreload.css);
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}

.header {
  width: 100%;
  background: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  border-bottom-left-radius: 150px;
  height: 400px;
  padding: 0 25px;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  padding: 0 20px;
  margin-bottom: 40px;
}
.logos .burger {
  width: 25px;
  height: 25px;
}
.logos .close {
  width: 25px;
  height: 25px;
  display: none;
}

.menu-container {
  margin: 30px auto;
  border-radius: 5px;
  width: 330px;
  background-color: hsl(0, 0%, 100%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 6%;
}
.menu-container a {
  color: hsl(208, 49%, 24%);
  font-family: "Overpass";
  font-weight: 700;
}
.menu-container .menu_desktop {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.menu-container .menu_desktop .arrow-light {
  display: none;
}
.menu-container .menu_desktop .arrow-dark {
  margin-left: 10px;
}
.menu-container .menu_desktop .arrow-dark:hover {
  cursor: pointer;
}
.menu-container .menu_desktop .arrow-light:hover {
  cursor: pointer;
}
.menu-container .menu_desktop a {
  text-decoration: none;
}
.menu-container .menu_desktop .titulo-menu {
  font-size: 1.1rem;
  text-align: center;
  margin-left: 10px;
}
.menu-container .menu_desktop .lista {
  background-color: rgba(255, 143, 112, 0.2);
  padding: 30px;
  width: 100%;
  border-radius: 7px;
  text-align: center;
  display: none;
  flex-direction: column;
  gap: 10px;
  font-size: 0.8rem;
  margin: 15px 0;
}
.menu-container .menu_desktop .lista_conect {
  display: none;
}
.menu-container .menu_desktop .lista_compania {
  display: none;
}
.menu-container .menu_desktop .lista_producto {
  display: none;
}
.menu-container .linea {
  width: 100%;
  border: 1px solid hsl(240, 2%, 79%);
}
.menu-container .login_desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.menu-container .login_desktop button {
  padding: 10px 30px;
  border: none;
  border-radius: 40px;
  font-family: "Ubuntu";
  font-weight: 500;
  cursor: pointer;
}
.menu-container .login_desktop .sing-up {
  padding: 10px 25px;
  text-align: center;
  font-size: 0.9rem;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  border-radius: 40px;
}
.menu-container .login_desktop .login {
  background-color: transparent;
}

.cabecera {
  margin-top: 20px;
}
.cabecera .titulo {
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-family: "Ubuntu";
  font-weight: 100;
  font-size: 1.8rem;
}
.cabecera .subTitulo {
  margin: 20px 25px;
  font-size: 1rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-family: "Overpass";
}
.cabecera .botones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 40px 0;
}
.cabecera .botones button {
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  font-family: "Ubuntu";
  font-weight: 800;
  cursor: pointer;
}
.cabecera .botones .btn_star {
  color: hsl(353, 100%, 62%);
  background-color: hsl(0, 0%, 100%);
}
.cabecera .botones .btn_learmore {
  color: hsl(0, 0%, 100%);
  background-color: transparent;
  border: 1px solid hsl(0, 0%, 100%);
}

h2 {
  color: hsl(208, 49%, 24%);
  font-family: "Ubuntu";
  font-weight: 500;
  margin-top: 30px;
  font-size: 1.2rem;
}

.designed {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.designed .editor-mobile {
  width: 340px;
  height: 330px;
  margin: 40px 0;
}
.designed .editor-desktop {
  display: none;
}
.designed .texto_designed h3 {
  color: hsl(208, 49%, 24%);
  font-family: "Ubuntu";
  font-size: 1.3rem;
  margin: 30px 50px;
}
.designed .texto_designed p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: hsl(237, 17%, 21%);
  font-family: "Overpass";
  margin: 10px 33px;
}

.phones {
  position: absolute;
  width: 330px;
  height: 400px;
  top: -250px;
}

.infrastructure {
  margin: 280px 0;
  background-color: hsl(237, 23%, 32%);
  width: 100vw;
  height: 100%;
  padding: 100px 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-family: "Overpass";
  position: relative;
  border-radius: 0 120px 0 120px;
}

.texto_infrastructure h2 {
  font-size: 1.6rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin: 20px 25px;
}
.texto_infrastructure p {
  font-size: 1rem;
  line-height: 1.5;
}

.laptop .laptop-mobile {
  width: 100vw;
  height: 100%;
  margin-top: -1000px;
}
.laptop .laptop-desktop {
  display: none;
}
.laptop .texto_laptop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  text-align: center;
}
.laptop .texto_laptop h3 {
  margin: 20px;
  color: hsl(208, 49%, 24%);
  font-family: "Ubuntu";
}
.laptop .texto_laptop p {
  font-size: 0.8rem;
  margin: 0 30px;
  font-family: "Ubuntu";
  line-height: 1.5;
}

.footer {
  background-color: hsl(240, 10%, 16%);
  border-radius: 0 100px 0 0;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  margin: 50px 0;
}
.footer .logo {
  width: 70px;
  height: 25px;
}
.footer .producto_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Ubuntu";
}
.footer .titulo_footer {
  color: hsl(0, 0%, 100%);
  font-size: 0.8rem;
  cursor: pointer;
}
.footer .secciones_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.6rem;
  color: hsl(240, 2%, 79%);
  cursor: pointer;
}

@media screen and (min-width: 420px) {
  .menu-container {
    left: 15vw;
    top: 70px;
  }
  .phones {
    left: 20%;
  }
}
@media screen and (min-width: 600px) {
  .menu-container {
    left: 30vw;
  }
  .phones {
    top: -300px;
    height: 420px;
    width: 400px;
    left: 20%;
  }
  .laptop .laptop-mobile {
    margin-top: -200px;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: start;
  }
}
@media screen and (min-width: 720px) {
  .logos .burger {
    display: none;
  }
  .menu-container {
    display: flex;
    width: 550px;
    margin-top: -65px;
    margin-left: -90px;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
  }
  .menu-container .menu_desktop {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0px;
  }
  .menu-container .menu_desktop .arrow-light {
    display: flex;
    margin-left: 10px;
  }
  .menu-container .menu_desktop .arrow-dark {
    display: none;
  }
  .menu-container .menu_desktop .titulo-menu {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    color: white;
  }
  .menu-container .menu_desktop .lista {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100px;
    justify-content: center;
    font-size: 0.7rem;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 2px;
    padding: 10px;
  }
  .menu-container .menu_desktop .lista_conect {
    display: none;
    margin-left: 220px;
  }
  .menu-container .menu_desktop .lista_compania {
    display: none;
    margin-left: 110px;
  }
  .menu-container .menu_desktop .lista_producto {
    display: none;
  }
  .menu-container .login_desktop {
    justify-content: center;
    margin-top: -4px;
    align-items: center;
    flex-direction: row;
    margin-left: 12%;
  }
  .menu-container .login_desktop .login {
    color: hsl(0, 0%, 100%);
  }
  .menu-container .login_desktop .sing-up {
    padding: 7px 20px;
    margin-left: -20px;
    color: hsl(356, 100%, 66%);
    background: hsl(0, 0%, 100%);
  }
  .linea {
    display: none;
  }
  .cabecera {
    margin-top: 70px;
  }
  .cabecera .titulo {
    font-size: 2.1rem;
  }
  .cabecera .subTitulo {
    font-size: 0.9rem;
  }
  .cabecera .botones {
    gap: 5px;
  }
  .designed {
    flex-direction: row-reverse;
    z-index: 0;
    padding: 20px;
  }
  .designed .editor-mobile {
    display: none;
  }
  .designed .editor-desktop {
    display: flex;
    width: 300px;
    height: 300px;
    float: right;
  }
  .designed .texto_designed {
    text-align: start;
  }
  .designed .texto_designed h3 {
    font-size: 0.8rem;
    margin: 20px;
  }
  .designed .texto_designed p {
    font-size: 0.6rem;
    margin: 20px;
  }
  .phones {
    top: 0;
    left: 10px;
    position: sticky;
    width: 350px;
    height: 400px;
  }
  .infrastructure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: hsl(237, 23%, 32%);
    width: 100vw;
    height: auto;
    padding: 0px 30px;
    position: relative;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-family: "Overpass";
    border-radius: 0 120px 0 120px;
  }
  .texto_infrastructure {
    text-align: left;
  }
  .texto_infrastructure h2 {
    margin: 20px 0;
    font-size: 1.3rem;
  }
  .texto_infrastructure p {
    font-size: 0.8rem;
  }
  .laptop {
    display: flex;
    margin-top: -200px;
  }
  .laptop .laptop-mobile {
    display: none;
  }
  .laptop .laptop-desktop {
    display: flex;
    width: 300px;
    height: 400px;
  }
  .laptop .texto_laptop {
    text-align: left;
    align-items: start;
  }
  .laptop .texto_laptop h3 {
    margin: 10px 0;
    text-align: left;
  }
  .laptop .texto_laptop p {
    margin: 10px 0;
    margin-right: 20px;
    font-size: 0.6rem;
  }
  .footer {
    padding: 60px;
    gap: 80px;
  }
  .footer .titulo_footer, .footer .secciones_footer, .footer .producto_footer {
    align-items: start;
  }
}
@media screen and (min-width: 1000px) {
  .menu-container {
    width: 750px;
  }
  .menu-container .menu_desktop {
    margin-left: -160px;
  }
  .menu-container .menu_desktop .titulo-menu {
    font-size: 1.1rem;
  }
  .menu-container .menu_desktop .lista_conect {
    display: none;
    margin-left: 170px;
  }
  .menu-container .menu_desktop .lista_compania {
    display: none;
    margin-left: 55px;
  }
  .menu-container .menu_desktop .lista_producto {
    display: none;
    margin-left: -60px;
  }
  .menu-container .login_desktop {
    margin-left: 25%;
  }
  .menu-container .login_desktop .login, .menu-container .login_desktop .sing-up {
    font-size: 1.1rem;
  }
  .cabecera .titulo {
    font-size: 2.5rem;
  }
  .cabecera .subTitulo {
    font-size: 1rem;
  }
  .cabecera .botones button {
    padding: 15px 25px;
  }
  .cabecera .botones .btn_star, .cabecera .botones .btn_learmore {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.9rem;
    margin-top: 50px;
  }
  .designed {
    margin-bottom: -200px;
  }
  .designed .editor-desktop {
    width: 400px;
    height: 400px;
  }
  .designed .texto_designed {
    width: 50%;
  }
  .designed .texto_designed h3 {
    font-size: 1.5rem;
  }
  .designed .texto_designed p {
    font-size: 0.9rem;
  }
  .phones {
    width: 400px;
    height: 450px;
  }
  .texto_infrastructure {
    width: 50%;
  }
  .texto_infrastructure h2 {
    font-size: 1.4rem;
  }
  .texto_infrastructure p {
    font-size: 1rem;
  }
  .laptop {
    margin-top: -150px;
  }
  .laptop .laptop-desktop {
    width: 400px;
    height: 500px;
  }
  .laptop .texto_laptop {
    width: 50%;
  }
  .laptop .texto_laptop h3 {
    font-size: 1.4rem;
  }
  .laptop .texto_laptop p {
    font-size: 0.9rem;
  }
  .footer .logo {
    width: 100px;
    height: 30px;
  }
  .footer .titulo_footer, .footer .secciones_footer, .footer .producto_footer {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-left: 40px;
  }
  .menu-container {
    width: 920px;
  }
  .menu-container .menu_desktop {
    margin-left: -190px;
  }
  .menu-container .login_desktop {
    margin-left: 40%;
  }
  .laptop {
    margin-top: -150px;
  }
  .laptop .laptop-desktop {
    width: 550px;
    height: 600px;
  }
  .laptop .texto_laptop {
    width: 50%;
  }
  .laptop .texto_laptop h3 {
    font-size: 1.4rem;
  }
  .laptop .texto_laptop p {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1200px) and (min-width: 1400px) {
  .menu-container {
    width: 1000px;
  }
  .menu-container .login_desktop {
    margin-left: 45%;
  }
}/*# sourceMappingURL=style.css.map */