@import url(/Sass/cssreload.css);
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

$Lightred-CTA-text: hsl(356, 100%, 66%);
$Verylightred-CTA-hover-background: hsl(355, 100%, 74%);
$Verydarkblue-headings: hsl(208, 49%, 24%);

$White-text: hsl(0, 0%, 100%);
$Grayishblue-footer-text: hsl(240, 2%, 79%);
$Verydarkgrayishblue-body-copy: hsl(207, 13%, 34%);
$Verydarkblackblue-footer-background: hsl(240, 10%, 16%);

//Background gradient - Intro/CTA mobile nav:

$Verylightred: #ff8f70;
$Lightred: hsl(353, 100%, 62%);

//Background gradient - body:

$Verydarkgrayblue: hsl(237, 17%, 21%);
$Verydarkdesaturatedblue: hsl(237, 23%, 32%);

$font-1:'Overpass';
$font-2:'Ubuntu';
body{
    a{
        text-decoration: none;
    }
    li{
        list-style: none;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.header{
    width: 100%;
    background: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border-bottom-left-radius:150px;
    height: 400px;
    padding: 0 25px;
    .logos{
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        .logo{
            width: 70px;
            height: 30px;
        }
        .burger{
            height: 20px;
            width: 20px;
            display: flex;
        }
        .close{
            width: 20px;
            height: 20px;
            display: none;
        }
    }

}
.navegacion{
    margin: 40px auto;
    border-radius: 5px;
    width: 330px;
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 10px 1px rgba($color: #000000, $alpha: 0.7);
    a{
        color: $Verydarkblue-headings;
        font-family: $font-1;
        font-weight: 700;
    }
    

    .menu_desktop{
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        .arrow{
            margin-left: 10px;
        }
            
        a{
            text-decoration: none;
        }
        .titulo-menu{
            font-size: 1.1rem;
            text-align: center;
            margin-left: 10px;
            
        }
        
        .lista{
            background-color: rgba($color: #ff8f70, $alpha: 0.2);
            padding: 30px;
            width: 100%;
            border-radius: 7px;
            text-align: center;
            display: none;
            flex-direction: column;
            gap :10px;
            font-size: 0.8rem;
            margin: 15px 0;
        }

        
    }
    .linea{
        width: 100%;
        border: 1px solid $Grayishblue-footer-text;
        margin-top: 40px;
    }
    .login_desktop{
        margin-top: 20px;
        
        ul{
            display:flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            margin: 20px 0;

            .sing-up{
                padding: 10px 25px;
                text-align: center;
                font-size: 0.9rem;
                color: $White-text;
                background: linear-gradient((hsl(13, 100%, 72%), hsl(353, 100%, 62%)));
                border-radius: 40px;
            }
        }
        
    }

    
}
.cabecera{
    margin-top: 20px;
    .titulo{

        
        text-align: center;
        color: $White-text;
        font-family: $font-2;
        font-weight: 100;
        font-size: 1.8rem;
    }
    .subTitulo{
        margin: 20px 25px;
        font-size: 1rem;
        text-align: center;
        color: $White-text;
        font-family: $font-1;
    }

    .botones{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin: 40px 0;


        button{
            border: none;
            padding: 10px 20px;
            border-radius: 40px;
            font-family: $font-2;
            font-weight: 800;
        }
        .btn_star{
            color: $Lightred;
            background-color: $White-text;
            
        }

        .btn_learmore{
            color: $White-text;
            background-color: transparent;
            border: 1px solid $White-text;
        }
    }
}

.designed{
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        color: $Verydarkblue-headings;
        font-family: $font-2;
        font-weight: 500;
        margin-top: 30px;
        font-size: 1.2rem;
    }
    .editor-mobile{
        width: 340px;
        height: 330px;
        margin: 40px 0;
        }
    .editor-desktop{
        display: none;
    }
        
    .texto_designed{
        h3{
            color: $Verydarkblue-headings;
            font-family: $font-2;
            font-size: 1.3rem;
            margin: 30px 50px ;

        }
        p{
            font-size: 0.9rem;
            line-height: 1.5;
            color: $Verydarkgrayblue;
            font-family: $font-1;
            margin: 10px 33px ;
        }
    }
    
}

.phones{
    width: 100vw;
    height: 60%;
    position: absolute;
    z-index: 10;
    top: 1500px;
}
.infrastructure{
    margin: 280px 0;
}
.texto_infrastructure{
    background-color: $Verydarkdesaturatedblue;
    width: 100vw;
    height: 100%;
    padding: 140px 30px;
    
    text-align: center;
    color: $White-text;
    font-family: $font-1;
    position: relative;
    border-radius:0 120px 0 120px ;
    h2{
        font-size: 1.6rem;
        font-weight: 700;
        margin: 20px 25px;
    }
    p{
        font-size: 1rem;
        line-height: 1.5;
    }
}

.laptop{
    .laptop-mobile{
        width: 100vw;
        height: 100%;
        margin-top: -1000px;

    }
    .laptop-desktop{
        display: none;
    }
    .texto_laptop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    text-align: center;
    h3{
        margin: 20px ;
        color:$Verydarkblue-headings;
        font-family: $font-2;
    }
    p{
        font-size: 0.8rem;
        margin: 0 30px;
        font-family: $font-2;
        line-height: 1.5;
    }
    }
}

.footer{
    background-color: $Verydarkblackblue-footer-background;
    border-radius: 0 100px 0 0;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
    margin: 50px 0 ;

    .logo{
        width: 70px;
        height: 25px;
    }

    .producto_footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-family: $font-2;
    }

    .titulo_footer{
        color: $White-text;
        font-size: 0.8rem;
    }
    .secciones_footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 0.6rem;
        color: $Grayishblue-footer-text;

    }

}